---
layout: default
---

<div class="home">
    <!-- Header image -->
    <style scoped>
        {% assign image = site.header_feature_image | relative_url %}
        .call-out_img {
            background-image: url('{{ image }}');
        }
        {% if site.header_feature_image_responsive %}
        @media screen and (max-width: 768px) {
            .call-out_img {
                background-image: url('{{ image | append: '-medium' }}.{{ image | split: '.' | last }}');
            }
        }
        @media screen and (max-width: 576px) {
            .call-out_img {
                background-image: url('{{ image | append: '-small' }}.{{ image | split: '.' | last }}');
            }
        }
        {% endif %}
    </style>
    <div id="main" class="call-out call-out_img">
        <!-- Header text -->
        <h1>{{ site.header_text | default: "" }}</h1>
        <!-- Additional content -->
         <div style="position: absolute; top: 10px; left: 0px; width: 400px; padding: 10px 10px 500px;"> <!-- Increase the padding from the bottom -->
    <div id="color-post" class="post-content" style="font-size: 15px; color: #2171b5; font-family: 'Avenir Next LT Pro';">
      <p>
        As a physicist, I develop mathematical models and utilize computer simulations to study material properties for nanoelectronic applications. In addition to computational work on materials, I have also used optical interferometric microscopy to characterize the surface topography of solar cells and optical flats. Finally, I am proud to highlight my solid foundation in data analytics, using data science, machine learning, and optimization techniques throughout my academic career.
      </p>
    </div>
  </div>
    </div>

    <!-- Recent posts -->
    {% capture _blog %}{% include blog/blog.liquid %}{% endcapture %}
    {{ _blog | split: " " | join: " "}}
</div>
